.portfolioCardMobile{
    min-width: 20rem;
    min-height: 20rem;
    background-color: rgba(127, 255, 212, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 255, 0.2);
    display: grid;
    grid-template-columns: 60% 40%;
}

.image {
    background-color: red;
}
.text{
    background-color: green;
}