.landing{
    height: 100vh;
    background-image: url('../../../../assets//Mafa_image_to_edit-removebg_1.png');
    background-size: cover;
    background-repeat: none;
    background-position: center;
}