.services{
    margin-top: 6rem;
    color: rgba(0, 0, 0, 1);
    
}
.servicesCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 90%;
    margin-inline: auto;
    gap: 2rem;
    row-gap: 2.5rem;
}

@media screen  and (min-width: 750px) and (max-width: 1200px) {
    .servicesCards{
        grid-template-columns: repeat(2,1fr);
    }

  }

  @media screen and (max-width: 749px) {
    .servicesCards{
        grid-template-columns: repeat(1,1fr);
    }

  }