.services{
    margin-top: 6rem;
    color: rgba(0, 0, 0, 1);
    
}
.servicesCards{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 90%;
    margin-inline: auto;
    gap: 2rem;
    row-gap: 2rem;
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
    .servicesCards{
        grid-template-columns: auto auto;
    }

  }

  @media screen and (max-width: 700px) {
    .servicesCards{
        grid-template-columns: auto;
    }

  }